@font-face {
  font-family: "Figtree";
  src: url(./assets/fonts/static/Figtree-Medium.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Figtree";
  src: url(./assets/fonts/static/Figtree-ExtraBold.ttf);
  font-weight: 900;
  font-style: normal;
}

body {
  background: rgb(244, 208, 78);
  font-family: "Figtree";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card {
  background: white;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 350px;
  border: 1px solid black;
  padding: 25px;
  -webkit-box-shadow: 12px 5px 15px 5px #000000; 
  box-shadow: 8px 7px 0px 0px #000000;
}
.card .header-img {
  border-radius: 12px;
  margin-bottom: 14px;
}

.card span.tag {
  background: rgb(244, 208, 78);
  border-radius: 4px;
  display: inline-block;
  width: fit-content;
  font-weight: bolder;
  text-align: center;
  padding: 6px 14px;
  font-size: 14px;
  margin-bottom: 14px;
}

.date {
  margin: 0;
  margin-bottom: 18px;
  font-size: 13px;
}

.title-card {
  font-size: x-large;
  margin: 0;
  margin-bottom: 18px;
}

p.description-card {
  font-size: 16px;
  color: hsl(0, 0%, 42%);
  line-height: 24px;
  margin: 0;
  margin-bottom: 19px;
}

.author img {
  width: 34px;
}

.author span {
  font-weight: bold;
  font-size: 15px;
}

.author {
  display: flex;
  align-items: center;
  gap: 8px;
}

.attribution {
  font-size: 15px;
  text-align: center;
  position: absolute;
  bottom: 12px;
}


.attribution a {
  color: rgb(62, 82, 163);
}
